.contacts
    display: grid
    justify-content: space-around
    @media (max-width: $mobile)
        grid-template-columns: 1fr
        row-gap: 12px
    &__title
        margin-bottom: 73px
        grid-column: 1/3
        @media (max-width: $mobile)
            grid-column: auto
            margin-bottom: 0
    &__address
        &-title, address
            padding-left: 30px
            font-weight: 500
            font-size: 32px
            line-height: 39px
            margin-bottom: 6px
        address
            font-style: normal
            font-weight: 500
            font-size: 24px
            line-height: 29px
    &__phones
        display: grid
        row-gap: 3px
        &-title
            padding-left: 30px
            font-weight: 500
            font-size: 24px
            line-height: 29px
        a
            padding-left: 30px
            color: inherit
            font-weight: 400
            font-size: 24px
            line-height: 29px
            text-decoration: none
    &-form
        margin-bottom: 57px
        p
            font-weight: 500
            font-size: 18px
            line-height: 22px
            margin-bottom: 31px
        &__body
            display: grid
            grid-template-columns: 35% 65%
            grid-template-rows: repeat(auto-fit, 1fr)
            justify-content: space-between
            @media (max-width: $mobile)
                grid-template-columns: 1fr
                grid-template-rows: auto

        &__input
            grid-column: 1 / 2
            background: transparent
            border: 3px solid #000
            border-radius: 25px
            padding: 15px 27px 14px
            max-width: 350px
            width: 100%
            margin-bottom: 18px
            font-weight: 300
            font-size: 16px
            line-height: 19px
            &:last-of-type
                margin-bottom: 22px
            &-img
                width: 30px
                height: 30px
                margin-top: 10px
                cursor: help
                position: relative
                &:hover
                    &::after
                        content: attr(data-title)
                        position: absolute
                        top: 27px
                        left: 0
                        width: 250px
                        min-height: 50px
                        background: $green
                        padding: 5px
                        border-radius: 10px
                        border: 2px solid $blueRGBA5
                        @media (max-width: $mobile)
                            left: -13rem

            &_block
                position: relative
                display: flex
                align-center: center
                gap: 14px

        &__text
            grid-column: 2 / 3
            grid-row: 1 / 4
            border: 3px solid #000
            border-radius: 25px
            padding: 20px 17px
            font-family: inherit
            max-width: 682px
            width: 100%
            height: 180px
            resize: none
            justify-self: end
            background: transparent
            @media (max-width: $mobile)
                justify-self: start
        small
            grid-column: 1 / 3
            font-weight: 300
            font-size: 16px
            line-height: 19px
            margin-bottom: 16px
        &__btn
            grid-row: 5
            grid-column: 1 / 3
            padding: 10px 216px
            background: transparent
            border: 3px solid #000
            border-radius: 20px
            width: fit-content
            margin: auto
            cursor: pointer
            font-weight: 500
            font-size: 20px
            line-height: 24px
            color: inherit
            @media (max-width: $mobile)
                padding: 10px 120px
        &__input, textarea, small, &__btn
            @media (max-width: $mobile)
                grid-column: auto
                grid-row: auto
