@import 'params', 'header', 'button', 'typo', 'main', 'call', 'photos', 'our-specialists'

*
    margin: 0
    padding: 0
    box-sizing: border-box

    &::after, ::before
        margin: 0
        padding: 0
        box-sizing: border-box

img
    max-width: 100%

body
    background: $bgColor
    color: $black
    font-family: $Inter

.container
    max-width: 1110px
    width: calc(100% - 20px)
    margin: 0 auto
    background: $white

    &--no-color
        background: transparent
