@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@-webkit-keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}
.btn {
  background: transparent;
  border: none;
  color: #EEF7F8;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  transition: all 0.3s;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 4px 4px 0px 0px #1BA3CF;
}
.btn:active {
  box-shadow: 0px 0px 0px 0px #1BA3CF;
}
.btn__call, .btn__hero-footer, .btn__service, .btn__our-services, .btn__reviews {
  background: #3ECA78;
}
.btn__call {
  padding: 11px 47px;
  color: #EEF7F8;
}
.btn__hero-footer {
  padding: 11px 43px 11px 51px;
}
.btn__service {
  display: inline-block;
  padding: 11px 27px;
  border: 2px solid #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
.btn__our-services, .btn__reviews {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.btn__our-services {
  padding: 11px 39px;
}
.btn__reviews {
  padding: 11px 79px;
}
.btn__our-specialist {
  background: #1BA3CF;
  padding: 11px 67px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.typo h1, .typo h2, .typo h3 {
  text-align: center;
  margin-bottom: 24px;
}
.typo h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
}
@media (max-width: 850px) {
  .typo h1 {
    font-size: 40px;
  }
}
.typo h2 {
  font-weight: 500;
  font-size: 46px;
  line-height: 130%;
}
@media (max-width: 850px) {
  .typo h2 {
    font-size: 36px;
  }
}
.typo h3 {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
}
@media (max-width: 850px) {
  .typo h3 {
    font-size: 26px;
  }
}
.typo p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}
.typo p:last-of-type {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, * ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: #EEF7F8;
  color: #333;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1110px;
  width: calc(100% - 20px);
  margin: 0 auto;
  background: #fff;
}
.container--no-color {
  background: transparent;
}

.title-main {
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 850px) {
  .title-main {
    font-size: 36px;
  }
}

.hide {
  display: none;
}

.title-second {
  font-weight: 500;
  font-size: 46px;
  line-height: 150%;
}
@media (max-width: 850px) {
  .title-second {
    font-size: 34px;
  }
}
.title-second--hide {
  display: none;
}

.header__block {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  padding: 49px 0 32px;
  justify-content: space-between;
}
@media (max-width: 850px) {
  .header__block {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.logo {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: -webkit-max-content 430px;
  grid-template-columns: max-content 430px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  text-decoration: none;
  font-size: 24px;
  line-height: 29px;
}
.logo__img {
  width: 100px;
  height: 96px;
}
@media (max-width: 850px) {
  .logo {
    grid-template-columns: 100px 1fr;
    grid-auto-flow: row;
    font-size: 18px;
  }
}
.logo__text {
  font-weight: 400;
  color: #333;
}
.logo__address {
  font-weight: 500;
}
.call {
  display: grid;
  font-size: 24px;
  line-height: 29px;
}
.call__title {
  font-weight: 400;
}
.call__phone {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
  margin-bottom: 10px;
}

.nav-top {
  background: #fff;
  padding: 31px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}
@media (max-width: 850px) {
  .nav-top {
    display: flex;
    padding: 12px 0;
  }
}
.nav-top__items {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  -moz-column-gap: 31px;
       column-gap: 31px;
  list-style: none;
}
@media (max-width: 850px) {
  .nav-top__items {
    display: none;
  }
}
@media (max-width: 850px) {
  .nav-top__item {
    padding: 0 0 12px;
  }
  .nav-top__item:last-of-child {
    padding-bottom: 0;
  }
}
.nav-top__link {
  color: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}

.main-photo {
  background: #fff;
}
.main-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 32px;
  height: 357px;
}

.mob-menu {
  display: none;
}
@media (max-width: 850px) {
  .mob-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    width: 100%;
    padding: 0 12px;
  }
}
.mob-menu__btn {
  background: transparent;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 22px;
  padding: 12px 16px;
  color: inherit;
}
.mob-menu__lists {
  list-style: none;
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100vw;
  min-height: 200px;
  background: #fff;
  padding: 12px;
}

.hero {
  margin-bottom: 95px;
}
.hero h1 {
  text-align: center;
}
.hero__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media (max-width: 850px) {
  .hero__footer {
    flex-flow: column;
    row-gap: 12px;
  }
}
.hero__footer-link {
  color: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.rating {
  display: grid;
  grid-template-columns: repeat(auto-fit, 351px);
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
  margin-bottom: 26px;
}
@media (max-width: 850px) {
  .rating {
    grid-template-columns: 1fr;
    grid-template-row: auto;
    row-gap: 30px;
  }
}
.rating h3 {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
}
@media (max-width: 850px) {
  .rating h3 {
    grid-row: auto;
    grid-column: auto;
  }
}
.rating__block {
  display: grid;
  position: relative;
  grid-template-rows: 125px;
}
.rating__block:before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 2;
}
.rating__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.rating__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(27, 163, 207, 0.25);
  text-decoration: none;
}
.rating__star {
  width: 25px;
  height: 23px;
}

.desription {
  margin-bottom: 44px;
}

.slider-main {
  margin-bottom: 84px;
}
.slider-main img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 669px;
}

.our-services {
  display: grid;
  margin-bottom: 91px;
}
.our-services__lists {
  display: grid;
  row-gap: 32px;
  margin-bottom: 46px;
}
.our-services__body {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 11px 0;
  background: rgba(62, 202, 120, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}
.our-services__body:hover {
  -webkit-clip-path: polygon(2.5% 0, 100% 0%, 100% 100%, 0 100%, 0% 35%);
          clip-path: polygon(2.5% 0, 100% 0%, 100% 100%, 0 100%, 0% 35%);
}
@media (max-width: 850px) {
  .our-services__body {
    grid-auto-flow: row;
    row-gap: 12px;
  }
}
.our-services__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: inherit;
}
.our-services__amount {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.our-services button {
  align-self: center;
  margin: 0 auto;
}

.reviews {
  display: grid;
  padding-bottom: 91px;
}
.reviews__lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, 349px);
  justify-content: space-between;
  margin-bottom: 32px;
}
@media (max-width: 850px) {
  .reviews__lists {
    grid-template-columns: 1fr;
    row-gap: 12px;
  }
}
.reviews__body {
  background: rgba(62, 202, 120, 0.3);
  border-radius: 15px;
  padding: 10px 10px 17px;
}
.reviews__header {
  display: grid;
  grid-template: repeat(3, -webkit-min-content)/repeat(2, -webkit-max-content);
  grid-template: repeat(3, min-content)/repeat(2, max-content);
  -moz-column-gap: 18px;
       column-gap: 18px;
  margin-bottom: 7px;
}
.reviews__header-img {
  grid-row: 1/4;
  grid-column: 1/2;
  border-radius: 50%;
}
.reviews__specialist {
  color: #1BA3CF;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 7px;
}
.reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.reviews button {
  margin: 0 auto;
}

.name, .grade {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.grade {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  font-weight: 500;
}
.grade__body {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.grade__img {
  width: 16px;
  height: 15px;
}

.call-block {
  position: fixed;
  bottom: 5rem;
  right: 10rem;
}
@media (max-width: 850px) {
  .call-block {
    right: 2rem;
    bottom: 2rem;
  }
}
.call-block__body {
  background: #3ECA78;
  width: 54px;
  height: 54px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-animation: scale 1.5s infinite alternate;
          animation: scale 1.5s infinite alternate;
}
.call-block__img {
  width: 26px;
  height: 26px;
  -webkit-animation: rotate 0.5s infinite alternate;
          animation: rotate 0.5s infinite alternate;
}

.photos-main {
  display: grid;
  row-gap: 38px;
  padding-bottom: 65px;
}
.photos-main__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
  margin-bottom: 10px;
}
.photos-main__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}

.our-specialist .group {
  height: 327px;
  -o-object-fit: cover;
     object-fit: cover;
}
.our-specialist__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 30px;
}
@media (max-width: 850px) {
  .our-specialist__body {
    grid-template-columns: 1fr;
  }
}
.our-specialist__item {
  background: rgba(27, 163, 207, 0.3);
  display: grid;
  border-radius: 25px;
}
.our-specialist__item-img {
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.our-specialist__item-prof {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}
.our-specialist__item-education {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}
.our-specialist__item-experience {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 18px;
}
.our-specialist__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 9px;
  text-decoration: none;
  color: inherit;
}
.our-specialist__info {
  padding: 10px 10px 18px;
  display: grid;
  border-radius: 0 0 25px 25px;
}

.services {
  display: grid;
}
.services__title {
  margin: 0 0 14px;
}
.services__filter {
  background: #EEF7F8;
  padding: 14px 3px;
  margin-bottom: 50px;
}
.services__filter .filter__lists {
  display: flex;
  list-style: none;
  gap: 25px;
}
@media (max-width: 850px) {
  .services__filter .filter__lists {
    flex-flow: column;
  }
}
.services__filter .filter__body {
  position: relative;
}
.services__filter .filter__body::after {
  content: "|";
  position: absolute;
  left: -17px;
  font-weight: 900;
}
.services__filter .filter__body:first-of-type::after {
  content: none;
}
.services__filter .filter__text {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.services__lists {
  display: grid;
}
.services__block {
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-areas: "title title" "img price" "img text";
  background: rgba(62, 202, 120, 0.5);
  padding: 7px 20px 23px;
  margin-bottom: 50px;
  border-radius: 25px;
}
@media (max-width: 850px) {
  .services__block {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "img" "price" "text";
    row-gap: 12px;
  }
}
.services__block-img {
  grid-area: img;
  border-radius: 20px;
}
.services__block-title {
  grid-area: title;
  justify-self: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 7px;
}
@media (max-width: 850px) {
  .services__block-title {
    font-size: 24px;
  }
}
.services__block-sales, .services__block-descr {
  margin-left: 25px;
}
@media (max-width: 850px) {
  .services__block-sales, .services__block-descr {
    margin-left: 0;
  }
}
.services__block-sales {
  grid-area: price;
  border: 2px solid #fff;
  background: #3ECA78;
  border-radius: 20px;
  color: #fff;
  padding: 10px 0 23px;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  max-height: 113px;
  margin-bottom: 15px;
}
@media (max-width: 850px) {
  .services__block-sales {
    max-height: 100%;
  }
}
.services__block-descr {
  grid-area: text;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  background: #3ECA78;
  padding: 10px 0 46px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}
@media (max-width: 850px) {
  .services__block-descr {
    padding: 10px 6px 16px;
  }
}
.services__block-descr .services__block-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.services__block-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 19px;
  flex-basis: 100%;
}
@media (max-width: 850px) {
  .services__block-text {
    margin-bottom: 10px;
  }
}
.services__block-start, .services__block-end {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .services__block-start, .services__block-end {
    font-size: 26px;
  }
}
.services__block-all {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  max-width: 691px;
}

.persona__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 41px;
}
@media (max-width: 850px) {
  .persona__title {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 12px;
  }
}
.persona__lists {
  list-style-position: inside;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  display: grid;
  grid-gap: 14px;
}
.persona__body {
  padding: 0 5px;
}
.persona-header {
  display: grid;
  margin-bottom: 36px;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 500;
}
@media (max-width: 850px) {
  .persona-header {
    grid-template-columns: 1fr;
  }
}
.persona-header__title {
  font-size: 96px;
  line-height: 116px;
}
@media (max-width: 850px) {
  .persona-header__title {
    font-size: 60px;
    line-height: 90px;
  }
}
.persona-header__subTitle {
  font-size: 48px;
  line-height: 58.09px;
  margin-bottom: 10px;
}
@media (max-width: 850px) {
  .persona-header__subTitle {
    font-size: 28px;
  }
}
.persona__items {
  list-style-position: inside;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}
@media (max-width: 850px) {
  .persona__items {
    font-size: 22px;
    line-height: 24px;
  }
}
.persona__item {
  margin-bottom: 12px;
}
.persona__item:last-of-type {
  margin-bottom: 0;
}
.persona-diploms__wrapper {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.specialization {
  margin-bottom: 36px;
}
.specialization__body {
  border: none;
  background: rgba(27, 163, 207, 0.5);
  border-radius: 25px;
  padding: 14px 30px;
  display: flex;
  flex-flow: wrap;
  gap: 17px;
}
.specialization__title {
  border-radius: 25px 25px 0px 0px;
  background: #1BA3CF;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  padding: 7px 6px 6px 8px;
  color: #fff;
  margin-left: 9px;
  transform: translateY(-4px);
}
.specialization__btn {
  background: #fff;
  padding: 5px 18px;
  border-radius: 15px;
}

.reviews-page__title {
  margin-bottom: 69px;
}
.reviews-page__body {
  background: rgba(62, 202, 120, 0.3);
  display: grid;
  padding: 10px 10px 19px;
  border-radius: 15px;
  max-width: 920px;
  margin: 0 auto 32px;
}
.reviews-page__body:last-of-type {
  margin-bottom: 47px;
}
.reviews-page__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}
@media (max-width: 850px) {
  .reviews-page__header {
    flex-flow: column;
    aling-items: flex-start;
  }
}
.reviews-page__info {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.reviews-page__info-text {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: center;
}
.reviews-page__avatar {
  border-radius: 50%;
}
.reviews-page__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  margin-right: 48px;
}
.reviews-page__date {
  grid-column: 1/3;
}
.reviews-page__how {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-right: 16px;
}
.reviews-page__how-name {
  max-width: 238px;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  color: #1BA3CF;
  text-decoration: none;
}
.reviews-page__block {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
}

.reviews-form {
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 44px;
}
.reviews-form__body {
  padding: 13px 10px 8px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  background: #3ECA78;
  border-radius: 20px;
}
@media (max-width: 850px) {
  .reviews-form__body {
    flex-flow: column;
    row-gap: 12px;
  }
}
.reviews-form__select {
  max-width: 245px;
}
.reviews-form__input {
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
  outline: rgba(62, 202, 120, 0.3);
}
.reviews-form__textarea {
  margin-top: 12px;
  flex-basis: 100%;
  resize: none;
  min-height: 150px;
  border: none;
  border-radius: 20px;
  padding: 12px;
}
@media (max-width: 850px) {
  .reviews-form__textarea {
    margin-top: 0;
  }
}

.contacts {
  display: grid;
  justify-content: space-around;
}
@media (max-width: 850px) {
  .contacts {
    grid-template-columns: 1fr;
    row-gap: 12px;
  }
}
.contacts__title {
  margin-bottom: 73px;
  grid-column: 1/3;
}
@media (max-width: 850px) {
  .contacts__title {
    grid-column: auto;
    margin-bottom: 0;
  }
}
.contacts__address-title, .contacts__address address {
  padding-left: 30px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 6px;
}
.contacts__address address {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.contacts__phones {
  display: grid;
  row-gap: 3px;
}
.contacts__phones-title {
  padding-left: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.contacts__phones a {
  padding-left: 30px;
  color: inherit;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
}
.contacts-form {
  margin-bottom: 57px;
}
.contacts-form p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 31px;
}
.contacts-form__body {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: space-between;
}
@media (max-width: 850px) {
  .contacts-form__body {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.contacts-form__input {
  grid-column: 1/2;
  background: transparent;
  border: 3px solid #000;
  border-radius: 25px;
  padding: 15px 27px 14px;
  max-width: 350px;
  width: 100%;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.contacts-form__input:last-of-type {
  margin-bottom: 22px;
}
.contacts-form__input-img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  cursor: help;
  position: relative;
}
.contacts-form__input-img:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 27px;
  left: 0;
  width: 250px;
  min-height: 50px;
  background: #3ECA78;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgba(27, 163, 207, 0.5);
}
@media (max-width: 850px) {
  .contacts-form__input-img:hover::after {
    left: -13rem;
  }
}
.contacts-form__input_block {
  position: relative;
  display: flex;
  align-center: center;
  gap: 14px;
}
.contacts-form textarea {
  grid-column: 2/3;
  grid-row: 1/4;
  border: 3px solid #000;
  border-radius: 25px;
  padding: 20px 17px;
  font-family: inherit;
  max-width: 682px;
  width: 100%;
  height: 180px;
  resize: none;
  justify-self: end;
  background: transparent;
}
@media (max-width: 850px) {
  .contacts-form textarea {
    justify-self: start;
  }
}
.contacts-form small {
  grid-column: 1/3;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}
.contacts-form__btn {
  grid-row: 5;
  grid-column: 1/3;
  padding: 10px 216px;
  background: transparent;
  border: 3px solid #000;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
}
@media (max-width: 850px) {
  .contacts-form__btn {
    padding: 10px 120px;
  }
}
@media (max-width: 850px) {
  .contacts-form__input, .contacts-form textarea, .contacts-form small, .contacts-form__btn {
    grid-column: auto;
    grid-row: auto;
  }
}

.relative {
  margin-bottom: 54px;
}
.relative__title {
  margin-bottom: 36px;
}
.relative__text {
  display: grid;
  row-gap: 16px;
}
.relative-questions .title-second {
  text-align: center;
  margin-bottom: 36px;
}
.relative-questions__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}
.relative-questions__title-last {
  margin-bottom: 21px;
}
.relative-questions__link {
  display: block;
  font-weight: 600;
  font-size: 40px;
  line-height: 48.41px;
  color: #3ECA78;
  text-decoration: none;
  margin-bottom: 46px;
}
@media (max-width: 850px) {
  .relative-questions__link {
    font-size: 32px;
    margin-bottom: 12px;
  }
}
.relative-addiction .title-second {
  text-align: center;
}
.relative-addiction__subTitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 34px;
}
.relative-addiction__body {
  display: grid;
  row-gap: 16px;
}
.relative-addiction__block {
  background: rgba(62, 202, 120, 0.5);
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 27px;
}
.relative-addiction__block:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.relative-addiction__block-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.article__body {
  display: grid;
}
.article__theme {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin: 79px 0;
}
.article__footer {
  padding: 0 19px 0 17px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.patients__title {
  margin-bottom: 21px;
}/*# sourceMappingURL=index.css.map */