@import 'params', 'button', 'typo'

*
    margin: 0
    padding: 0
    box-sizing: border-box

    &::after, ::before
        margin: 0
        padding: 0
        box-sizing: border-box

img
    max-width: 100%

body
    background: $bgColor
    color: $black
    font-family: $Inter

.container
    max-width: 1110px
    width: calc(100% - 20px)
    margin: 0 auto
    background: $white

    &--no-color
        background: transparent

.title-main
    font-weight: 500
    font-size: 48px
    line-height: 58px
    text-align: center

.title-second
    font-weight: 500
    font-size: 46px
    line-height: 56px

    &--hide
        display: none

@import 'header', 'main', 'call', 'photos', 'our-specialists', 'our-services'
